/BBDD/nbproject/private/
/BBDD_MVC/target/
/Bisiesto/build/
/Bisiesto/nbproject/private/
/Bowling/build/
/Bowling/nbproject/private/
/Ejercicios_POO/nbproject/private/
/FigurasGeometricas/build/
/FigurasGeometricas/nbproject/private/
/FigurasGeometricas_Drawable/build/
/FigurasGeometricas_Drawable/nbproject/private/
/LeapYear/build/
/LeapYear/nbproject/private/
/MasasPlanetas/build/
/MasasPlanetas/nbproject/private/
/NumerosRomanos/target/
/PuntoDeSilla/build/
/PuntoDeSilla/nbproject/private/
/Regulator/target/
/ValidadorIdentificaciones/build/
/ValidadorIdentificaciones/nbproject/private/
/Yatzy/build/
/Yatzy/nbproject/private/
/furnaceDIP/target/
/NumerosRomanos/nbproject/
/JAXBicipalma/target/
/LluisCifre/nbproject/private/
/Cotxox/nbproject/private/